{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block title %}Rain Glass{% endblock %}

{% block header %}
<style>
    .nav-divider {
        padding-top: 0;
    }

    .form-control[readonly] {
        background-color: #fff !important;
    }

</style>
{% endblock %}
{% block content %}
{% if request.user.is_staff %}
<div class="container py-5 mt-5">
    <div class="dashboard-main-wrapper pt-0">
        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content " style="width: 100%; ">
                    <h2 class="pageheader-title text-center mb-3 pb-5">Mavjud buyurtmani taxrirlash</h2>
                    <form method="post" class="row" id="buyurtmaForm" data-bid="{{ buyurtma.id }}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="col-lg-12 row py-3 pr-0">
                            <div class="col-lg-5 col-md-5 col-sm-5 pr-2">
                                <label>Maxsulot</label>
                                <select class="form-control" name="maxsulot" id="maxsulot">
                                    <option disabled selected>...</option>
                                    {% for m in maxsulotlar %}
                                    <option value="{{ m }}" data-hajm="{{m.hajm}}" data-id="{{m.id}}">
                                        {{ m }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-lg-5 b-kerak col-md-5 col-sm-5 pl-4 pr-1">
                                <label>Buyurtmaga kerak</label>
                                <input type="number" name="buyurtmaga-kerak" id="buyurtmaga-kerak" step="any"
                                    class="form-control">
                            </div>
                            <div class="col-lg-2 col-sm-2 col-md-2 pt-4 pr-0" id="createButtonDiv">
                                <p class="btn btn-warning w-100" id="createButton">qo'shish</p>
                            </div>
                        </div>

                        <!-- --------------------------------------------------- -->
                        <!-- Kerakli maxsulotlar -->
                        <!-- ---------------------------------------------------- -->
                        <div class="col-lg-12">
                            <div id="kerakliMaxList">
                                {% for km in kerakli_maxsulotlar %}
                                <div class="row" id="km-card" data-id="{{ km.id }}">
                                    <div class="col-lg-5 col-sm-5 col-md-5 pt-4">
                                        <input type="text" readonly="true" value="{{ km }}" name="{{ km }}"
                                            class="form-control">
                                        <input type="hidden" value="{{ km.id }}" name="{{ km }}-id">
                                    </div>
                                    <div class="col-lg-5 col-sm-5 col-md-5 pt-4">
                                        <input type="number" step="any" readonly="true" name="{{ km }}-hajm" value="{{ km.hajm }}" class="form-control">
                                    </div>
                                    <div class="col-lg-2 col-sm-2 col-md-2 pt-4 pl-0">
                                        <p class="btn btn-danger w-100" id="delButton" data-maxhajm="{{ km.hajm }}" data-maxid="{{km.maxsulot.id}}" data-id="{{ km.id }}">
                                            ochirish</p>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- --------------------------------------------------- -->
                        <!-- End of Kerakli maxsulotlar -->
                        <!-- --------------------------------------------------- -->


                        <!-- ------------------------------------------------------>
                        <!-- Rest of the order form -->
                        <!-- --------------------------------------------------- -->
                        <div class="col-lg-12 mt-5">
                            <label>Buyurtmachi</label>
                            <select class="form-control" required name="buyurtmachi">
                                <option value="{{ buyurtma.buyurtmachi.id }}" selected="selected">{{ buyurtma.buyurtmachi.first_name }} {{ buyurtma.buyurtmachi.last_name }}
                                    {% if buyurtma.buyurtmachi.firma %} - {{ buyurtma.buyurtmachi.firma }}{% endif %}</option>
                                {% for b in buyurtmachilar|exclude:buyurtma.buyurtmachi %}
                                <option value="{{ b.id }}">{{ b.first_name }} {{ b.last_name }}
                                    {% if b.firma %} - {{ b.firma }}{% endif %}
                                </option>
                                {% endfor %}
                            </select>
                            <a href="{% url 'rainglass:yangi-buyurtmachi' %}" class="btn mt-2 btn-warning"
                                style="border-radius: 5px;">
                                Yangi buyurtmachi +
                            </a>
                        </div>
                        <div class="col-lg-12 pt-4">
                            <label>Buyurtma nomi</label>
                            <input type="text" autocomplete="off" value="{{ buyurtma.buyurtma_nomi }}" name="buyurtma-nomi" required class="form-control">
                        </div>
                        <div class="col-lg-6 pt-4">
                            <label>Buyurtma eni</label>
                            <input type="number" name="buyurtma-eni" value="{{ buyurtma.eni }}" step="any" required class="form-control">
                        </div>
                        <div class="col-lg-6 pt-4">
                            <label>Buyurtma bo'yi</label>
                            <input type="number" name="buyurtma-boyi" value="{{ buyurtma.boyi }}" step="any" required class="form-control">
                        </div>
                        <div class="col-lg-6 pt-4">
                            <label>Ochiladi</label>
                            <input type="text" name="ochiladi" value="{{ buyurtma.ochilishi }}" class="form-control">
                        </div>
                        <div class="col-lg-6 pt-4">
                            <label>Buyurtma soni</label>
                            <input type="number" name="buyurtma-soni" value="{{ buyurtma.buyurtma_soni }}" required step="any" class="form-control">
                        </div>
                        <div class="col-lg-12 pt-5">
                            <label>Buyurtma chizmasi</label>
                            <input type="file" name="rasm" class="form-control">
                        </div>
                        <div class="col-lg-6 pt-4">
                            <label>Qabul qilingan sana</label>
                            <input type="date" name="qabul-sanasi" value="{{ buyurtma.qabul_qilingan_vaqt|date:'Y-m-d' }}" required class="form-control">
                        </div>
                        <div class="col-lg-6 pt-4">
                            <label>Yakuniy sana</label>
                            <input type="date" name="deadline" value="{{ buyurtma.deadline|date:'Y-m-d' }}" required class="form-control">
                        </div>
                        <div class="col pt-5">
                            <label>Sotilish protsenti</label>
                            <input type="number" name="sotilish-protsenti" value="{{ buyurtma.sotilish_protsenti }}" required step="any" class="form-control">
                        </div>
                        <div class="col-lg-4 pt-5">
                            <label>Ishchi tolovi</label>
                            <input type="number" step="any" name="ishchi-tolovi" value="{{ buyurtma.kvm_uchun_ishchi_tolovi }}" required class="form-control">
                        </div>
                        <div class="col-lg-4 pt-5">
                            <label>Montaj tolovi</label>
                            <input type="number" step="any" name="montaj-tolovi" value="{{ buyurtma.montaj_tolovi }}" class="form-control">
                        </div>

                        <div class="col-lg-12 pt-5">
                            <label>Izox (ixtiyoriy)</label>
                            <textarea name="izox" class="form-control" cols="30" rows="5">{{ buyurtma.izox }}</textarea>
                        </div>

                        <div class="col-lg-4 pt-5">
                            {% if buyurtma.ishchi_nazorati == True %}
                            <input type="checkbox" name="ishchi-nazorati" checked  class="ml-1">
                            {% else %}
                            <input type="checkbox" name="ishchi-nazorati" class="ml-1">
                            {% endif %}
                            <label>Ishchi nazoratidan otkazildi</label>
                        </div>
                        <div class="col-lg-4 pt-5">
                            {% if buyurtma.ish_yakunlandi == True %}
                            <input type="checkbox" name="tayyor" checked  class="ml-1">
                            {% else %}
                            <input type="checkbox" name="tayyor" class="ml-1">
                            {% endif %}
                            <label>Buyurtma tayyor bo'ldi</label>
                        </div>
                        <div class="col-lg-4 pt-5">
                            {% if buyurtma.toliq_yopildi == True %}
                            <input type="checkbox" name="yopildi" checked  class="ml-1">
                            {% else %}
                            <input type="checkbox" name="yopildi" class="ml-1">
                            {% endif %}
                            <label>Buyurtma to'liq yopildi</label>
                        </div>
                        <div class="col-lg-12 ">
                            <input type="submit" id="submitButton" value="Buyurtmani saqlash"
                                class="col-lg-12 btn mt-4 btn-primary">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container text-center pt-5">
    <div class="row pt-5">
        <div class="col-lg-12">
            <h1 style="color: red;">Siz uchun kirish taqiqlangan.</h1>
        </div>
    </div>
</div>
{% endif %}

{% endblock  %}
{% block script %}

<script>
    $(document).ready(function () {
        var csrf = $("input[name=csrfmiddlewaretoken]").val();
        $("#createButton").click(function () {
            var maxsulot = $("#maxsulot").val();
            var maxsulot_id = $("#maxsulot option:selected").data("id");
            var buyurtmagaKerak = $("#buyurtmaga-kerak").val();
            var maxsulot_hajm = $("#maxsulot option:selected").data("hajm");
            var buyurtmaId = $("#buyurtmaForm").data("bid")
            var mavjud = false;

            $("#kerakliMaxList :input").each(function () {
                if (maxsulot == $(this).val()) {
                    mavjud = true;
                }
            });
            if (maxsulot != null && buyurtmagaKerak != 0) {
                if (mavjud != true) {
                    if (parseFloat(maxsulot_hajm) >= parseFloat(buyurtmagaKerak)) {
                   
                        var new_kerakli_maxsulot = {
                            "buyurtmaId":buyurtmaId,
                            "maxsulot": maxsulot,
                            "id": maxsulot_id,
                            "hajm": buyurtmagaKerak
                        }
                        new_kerakli_maxsulot = JSON.stringify(new_kerakli_maxsulot)
                        $.ajax({
                                headers: { "X-CSRFToken": csrf}, 
                                url: "{% url 'rainglass:kerakli-max' %}",
                                type: "post",
                                data: new_kerakli_maxsulot,
                                success: function(response) {
                                    $("#kerakliMaxList").append('<div class="row" id="km-card" data-id="' + response.new_kerakli_max.id + '"><div class="col-lg-5 pt-4"><input type="text"  readonly="true" value="' + response.max_nomi + '" name="' + response.max_nomi + '" class="form-control"><input type="hidden" value="' + response.new_kerakli_max.id + '" name="' + response.new_kerakli_max + '-id" ></div><div class="col-lg-5 pt-4"><input type="number" readonly="true" step="any" name="' + response.new_kerakli_max + '-hajm" value="' + response.new_kerakli_max.hajm + '" class="form-control"></div><div class="col-lg-2 pt-4 pl-0"><p class="btn btn-danger w-100" id="delButton" data-maxhajm="'+response.new_kerakli_max.hajm+'" data-maxid="'+ response.ombor_max_id +'" data-id="' + response.new_kerakli_max.id + '">ochirish</p></div></div>');
                                }
                                
                        });
                        $("#buyurtmaForm")[0].reset();
                    } else {
                        alert("Omborda buncha maxsulot mavjud emas!");
                    }
                } else {
                    alert("Bu maxsulot avval qo'shilgan.");
                }
            }
        });

        $("#kerakliMaxList").on('click', '#delButton', function (event) {
            event.stopPropagation();

            var dataId = $(this).data("id");
            var ombor_max_id = $(this).data("maxid")
            var omHajm = $(this).data("maxhajm")
            var sendData = JSON.stringify({
                "id": dataId,
                "ombor_max_id": ombor_max_id,
                "omHajm": omHajm,})
                console.log(sendData);
            $.ajax({
                headers: { "X-CSRFToken": csrf}, 
                url: "{% url 'rainglass:kerakli-max-delete' %}",
                type: "post",
                data: sendData,
                success: function(response) {
                    $('#km-card[data-id="' + dataId + '"]').remove();
                }
            });
            
        });
    });

</script>

{% endblock %}